@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --secondary-color: hsl(214, 33%, 95%);
    --text-color: hsl(0, 0%, 8%);
    --accent-color: hsl(0, 0%, 12%);
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    height: 100%;
    line-height: 1.2;
}

body, button, input, select, textarea {
    font-family: Inter;
    font-size: 1.6rem;
    color: var(--text-color);
}

h1 {
    margin-bottom: 25px;
    font-size: 4rem;
    font-weight: 800;
}

h3 {
    font-size: 3.2rem;
    font-weight: 750;
}

input, textarea {
    appearance: none;
    width: 100%;
    border: 1px solid hsl(216, 14%, 75%);
}

select {
    background-color: white;
}

select, input[type="date"] {
    cursor: pointer;
    transition: 0.2s background-color ease;
}

select:hover, input[type="date"]:hover {
    background-color: hsl(224, 100%, 98%);
}




.main-container {
    display: grid;
    grid-template-columns: 325px 1fr;
    height: 100%;
}




/* ----- Sidebar ----- */
ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 35px;
    background-color: var(--secondary-color);
}

.sidebar_top {
    margin-bottom: 40px;
}

.sidebar_subtitle {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
}

.sidebar_item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
    padding: 7px 12px;
    border-radius: 6px;
    user-select: none;
}

.sidebar_item.active {
    background-color: hsl(214.3, 33.3%, 85%);
    font-weight: 650;
}

.sidebar_icon {
    width: 20px;
    height: 20px;
}

.n-project_form {
    display: none;
}

.n-project_form.active {
    display: flex;
}

.n-project_form > :first-child {
    border-radius: 5px 0 0 5px;
    padding: 10px;
}

.n-project_form :nth-child(2) {
    border-radius: 0 5px 5px 0;
}

.n-project_btn {
    fill: white;
    background-color: hsl(212, 91%, 48%);
    padding: 5px;
}




/* ----- Project content ----- */
.workspace-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
}

.workspace_header-top {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.n-task {
    display: none;
    background-color: var(--accent-color);
    border-radius: 6px;
}

.n-task.active {
    display: block;
}




/* ----- Tasks ----- */
.task {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto 120px;
    grid-auto-rows: auto;
    align-items: center;
    gap: 5px 15px;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    margin-top: 6px;
    overflow: hidden;
}

.task.completed {
    color: hsl(219, 6%, 48%);
    fill: hsl(219, 6%, 48%);
}

.task.completed > .task_title {
    text-decoration: line-through;
}

.task:is(.low-priority, .medium-priority, .high-priority)::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
}

.task.low-priority::before {
    background-color: hsl(212, 100%, 55%);
}

.task.medium-priority::before {
    background-color: hsl(41, 100%, 50%);
}

.task.high-priority::before {
    background-color: hsl(0, 100%, 57%);
}

input[type="checkbox"] {
    border: 2px solid hsl(210, 7%, 58%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: white;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.2s, border 0.2s ease;
    /* background-size: 60%; */
}

input[type="checkbox"]:checked {
    background-color: hsl(200, 11%, 22%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='m 10.164913,17.526668 -5.505259,-5.283825 1.7072418,-1.755566 3.7655972,3.5931 7.468802,-7.607045 1.739051,1.7231458 z'/%3E%3C/svg%3E");
    color: white;
    border: none;
}

.task_title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task_details {
    grid-area: 2 / 2 / 3 / 3;
    display: none;
    font-size: 1.4rem;
}

.task_details.active {
    display: block;
}

.task_actions {
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0;
    transition: 0.1s opacity ease;
    fill: hsl(240, 3%, 39%);
}

.task:hover > .task_actions {
    opacity: 1;
}

.task_date {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: right;
}




/* ----- Edit task modal ----- */
.task-modal {
    /* visibility: hidden; */
    display: none;
    position: absolute;
    width: 50ch;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: hidden;
    border-radius: 6px;
    opacity: 0;
    transition: 0.1s opacity ease;
}

.task-modal.active {
    display: block;
    /* visibility: visible; */
    opacity: 1;
}

.task-modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
    background-color: hsl(0, 0%, 5%);
    color: white;
}

.task-modal_body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
}

.task-modal_header,
.task-modal_body {
    padding: 25px;
}

.task-modal_w {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
}

.task-modal_w > :is(input, textarea, select) {
    padding: 10px 10px;
    border: 1px solid hsl(216, 14%, 75%);
    border-radius: 4px;
}

.invalid-input {
    display: none;
    font-size: 1.2rem;
}

.invalid-input.active {
    display: block;
}

#taskTitle:invalid + .invalid-input {
    display: block;
}

.task-modal_submit {
    cursor: pointer;
    padding: 15px 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: hsl(0, 0%, 12%);
    color: white;
}




/* ----- Overlay ----- */
.dark-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.1s opacity ease;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

.dark-overlay.active {
    opacity: 1;
    pointer-events: all;
}




/* ----- Buttons ----- */
button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s all ease;
    padding: 0;
}

#newProject {
    width: 100%;
    display: none;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}

#newProject:hover {
    background-color: var(--accent-color);
    color: white;
    fill: white;
}

#newProject.active {
    display: flex;
}

.n-task_btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    font-weight: 600;
    color: white;
    fill: white;
}

.close-modal-btn {
    fill: hsl(0, 97%, 56%);
}

.task_details-btn {
    display: block;
    width: 20px;
    height: 20px;
    transition: 0.2s all ease;
}

.task_details-btn.rotate {
    transform: rotate(-180deg);
}




/* ----- Utilities ----- */
.flex-g {
    flex-grow: 1;
}

.icon-container > svg {
    display: block;
}

.span-2-col {
    grid-column: span 2;
}

.danger-color {
    color: hsl(0, 100%, 57%);
}

.resize-vertical {
    resize: vertical;
}